#main-content-section {
  padding: 20px 0px;
}

#loggin-status-menu div {
  float: left;
  margin-left: 10px;
}

#logged-in-as-user {
  line-height: 35px;
  color: #CCC;
}

footer > div {
  color: #CCC;
  padding: 20px;
}

.section-title {
  border-bottom: 2px solid #FBB450;
}

#new_user {
  padding: 10px;
}

.row {
  padding: 2px 0px;
}
